<div  id="center">

    <img src="/image/cat_resultat.png" alt="circuit">
    <h2>Résultats</h2>
    <p>Sélectionner un grand prix :</p>

    <form action="/resultats/saisie" method="get">
        <select name="res">
            {{#each listeGrandPrix}}
                <option value="{{this.gpnum}}">{{this.gpnom}}</option>
            {{/each}}
        </select>

        <div id="add_form_button">
            <button type="submit">VALIDER</button>
        </div>
    </form>
</div>

<br class="myboth" />
